body {
  background-image: url("/static/geral/img/bg1.png");
  background-size: cover;
}

p {
  color: var(--light-color);
}

a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: 600;
}
